* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fffdf5; 
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: visible;
    height: auto;
}

/*Cabeçalho*/
a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

#seta {
 cursor: pointer;   
}

header {
    background-color: #ff9800; 
    padding: 35px 0px 1px 0px;
    text-align: center;
}

#titulo{
    font-size: clamp(2rem, 4.5vw, 2.5rem);
    margin: 0;
    color: white;
    font-family: Luckiest Guy;
    font-weight: 100;

    letter-spacing: 1px;
    white-space: nowrap; /* impede quebra de linha */
}

#caixa {
    display: flex;
    align-items: center;
    gap: 15px; /* Espaço entre o título e a pesquisa */
    justify-content: center; /* ou flex-start, se quiser tudo colado à esquerda */
    flex-wrap: nowrap;
    
}

#caixa-pesquisa {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #090908;
    border-radius: 14px;
    padding: 0 0 0 10px;
    margin: 15px;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; /* importante para ela dividir o espaço e encolher */

    min-width: 80px; /* permite encolher bastante */
    max-width: 500px;

    transition: all 0.3s ease;
}

#pesquisa {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    min-width: 0; /* permite que ele encolha de verdade */
}

#pesquisa::-webkit-search-cancel-button {
    display: none;
}
/*Tira o X padrão (de limpar tudo) do input.*/

#lupa{
    width: 15px;
    height: 15px;
    background-color: rgb(0, 0, 0);
}

.botao-lupa{
    all: unset; /*Remove todos os estilos padrões*/
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 40%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-lupa:hover{
    background-color: black !important;
    transform: none;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    
}

nav li {
    font-weight: 100;
    font-size: clamp(11px, 4vw, 14px);
    color: white !important;
    padding: clamp(10px, 4vw, 14px) clamp(8px, 3vw, 10px);

    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav li:hover {
    background-color: #fb8c00 !important;
}

#submenu{
    display: none;
    position: absolute;
    list-style: none;

    background-color: #ff9800 !important;
    color: white;
    margin-top: 9px !important;
    left:0;
    border-radius: 6px;
    box-shadow: 0 3px 0px rgba(0, 0, 0, 0.093) !important;
}

#logar{
    width: 30px;
    height: auto;
}

#imagens-simbolos{
    flex-wrap: nowrap;
    display: flex;
}

.icones{
    width: 28px;
    height: auto;
}

#icone-login{
    width: 30px;
    height: auto;
}


/*Main*/

.menu-agrupado{
    position: relative;
}

.menu-agrupado:hover #submenu{
    display: block;
}

main{
    flex: 1;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 25px;
    background-color: #fbd69e;

}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  gap: 30px;
  flex-wrap: nowrap; /* impede quebra de linha */
}

.imagem-home {
  flex-shrink: 0;
  width: clamp(130px, 25vw, 280px);
  height: auto;
  border-radius: 10%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.393);
  transition: transform 0.3s ease;
}


.imagem-home:hover {
    transform: scale(1.03);
}

.texto-adocao {
  flex: 1;
  min-width: 0;
  color: rgb(83, 61, 20);
  font-size: clamp(12px, 1.8vw, 17px);
  line-height: 1.6;
}

.texto-adocao h2 {
  font-size: clamp(17px, 3vw, 30px);
  color: rgb(93, 68, 22);
  margin-bottom: 20px;
}

button {
    background-color: #ff9800;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
}

button:hover {
    background-color: #e9910c;
    transform: scale(1.05);
}

.transicao-degrade {
  height: 60px;
  background: linear-gradient(#fbd69e, #fffdf5);
}

#grade{
    padding: 25px 0px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grade .imagens-grade img{
    width: clamp(25px, 10vw, 120px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px clamp(3px, 2vw, 12px);
}

#grade a{
    color:  #5a4033;
    font-size: clamp(8px, 2vw, 17px);
    text-align: center;
    padding: 0px 5px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#grade-caes, #grade-gatos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: clamp(8px, 2vw, 40px); /* controla o espaçamento */
    padding-top: 25px;
}

@media (max-width: 780px) { 
    .imagens-grade img{
        margin: 0px;
    }
    #grade a{
        padding: 0px;
    }

    #grade-caes, #grade-gatos{
        gap: 3px;
    }

    #img-borda-left{
        margin-left: 20px;
    }
    #img-borda-right{
        margin-right: 20px;
    }
}

footer {
    background-color: #ca8011;
    color: white;
    text-align: center;
    font-size: 13px;
    padding:3px;
    margin: 0 0;
}

#contato-footer p{
    display: inline-block;
    margin: 10px 15px 0px 15px;
}