body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}

#menu-inicial {
  text-align: center;
  background-color: #fce4ec;
  padding: 10px 0;
}

#menu-inicial ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu-inicial ul li {
  display: inline;
  margin: 0 15px;
}

#menu-inicial ul li a {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: #444;
}

#caoPaginaInicial{
    max-width: 100%; /* Impede que a imagem ultrapasse o tamanho do contêiner */
    display: block; /* Evita espaçamento extra abaixo da imagem */
    width: 100vw; /* 100% da largura da tela */
    height: 100vh; /* 100% da altura da tela */
    object-fit: cover; /* A imagem cobre a tela sem se distorcer */

    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);  /*Efeito de esfumaçado na imagem */
}

#titulo{
    color:#f39406;
    font-family: Luckiest Guy;
    font-weight: 100;
    font-size: clamp(35px, 5vw, 130px);
    letter-spacing: 1px; /*Leve espaço nas letra do título, porque tava muito junto.*/
    text-align: center;

    margin-top: 25px; /*Dá espaçamento da imagem*/
    padding-top: 100px;
}

#subtitulo{
    text-align: center;
    padding: 0px;
    margin:0px;

    color:rgb(143, 104, 75);
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 400;
}

.fade-in{
    opacity: 0; /*Começa com 0 opacidade, invisível.*/
    transition: opacity 2s ease, transform 3s ease; /*Tempo da mudança, animação*/
    transform: translateY(1px);       
}
      
.fade-in.visivel {
    opacity: 1; /*Elemento fica visivel*/
    transform: translateY(0px);
    
}

#caixadepapelao {
    position: relative;
    margin: 0px auto; /* Centraliza na tela */
    padding-bottom: 65px;
    aspect-ratio: 4 / 3;
    width: clamp(200px, 30vw, 400px);
    height: auto;
    overflow: visible;
}

#caixadepapelao > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Para cobrir toda a div */
    object-fit: cover;
    z-index: 10000;
}

.botaoCentralizado{
   text-align: center;
   padding-bottom: 90px;
   padding-top: 40px;
}

#continuar{
    font-weight: 600;
    background-color:#ff9800;
    
    border-radius:20px;
    border: solid rgb(160, 106, 26) 1px;
    width: 50px;
    height: 50px;
    position: relative;

    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 3s ease;
    /*Efeito pro botão vir pra frente*/
    z-index: 10000;
    display: block;
    margin: 0 auto;
}

#continuar:hover{
    background-color:rgb(225, 134, 23);
    transform: scale(1.05);
    /*Efeito do botão vir pra frente*/
}

#bloqueio{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;

    display: none;
    z-index: 9999;
}