body{
    margin: 0px;
    background-color: aliceblue
}

#caoPaginaInicial{
    max-width: 100%; /* Impede que a imagem ultrapasse o tamanho do contêiner */
    display: block; /* Evita espaçamento extra abaixo da imagem */
    width: 100vw; /* 100% da largura da tela */
    height: 100vh; /* 100% da altura da tela */
    object-fit: cover; /* A imagem cobre a tela sem se distorcer */

    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);  /*Efeito de esfumaçado na imagem */
}


#titulo{
    color:rgb(66, 153, 99);
    font-family: Luckiest Guy;
    font-weight: 100;
    font-size: 50px;
    letter-spacing: 1px; /*Leve espaço nas letra do título, porque tava muito junto.*/
    text-align: center;

    margin-top: 300px; /*Dá espaçamento da imagem*/
    padding-top: 100px; /*Dá espaçamento com o div que ele tá*/
}

/*Animação do título aparecendo*/
.fade-in{
        opacity: 0; /*Diz q começa com 0 opacidade, ou seja, invisível.*/
        transition: opacity 4s ease, transform 2s ease; /*Define o tempo da mudança/animação*/
      }
      
.fade-in.visivel {
        opacity: 1; /*Elemento fica visivel*/ 
}

/*#caixaTitulo{
    background-color: rgb(110, 219, 152);
    margin: 30px;
    border-radius: 25px;
    height:min(160vw, 400px);
}*/

#continuar{
    font-weight: 600;
    background-color:rgb(110, 219, 152);
    
    border-radius:50%;
    border: solid rgb(35, 173, 35) 1px;
    width: 40px;  /* Largura baseada na tela */
    height: 40px;;
    margin-top: 200px;
    margin-bottom: 200px;

    
    position: relative;
    left: 40%;
    /*Deixa o botão sempre 40% do lado esquerdo*/

    cursor: pointer;transition: transform 0.3s ease, background-color 0.3s ease;
    /*Dá transição pro botão vir pra frente*/
}

#continuar:hover{
  background-color: rgb(55, 201, 99);
  transform: scale(1.05);
  /*Efeito do botão ir pra frente*/
}
